@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$font-family: 'Roboto', sans-serif;
$font-size-base: 0.925rem;
$base-color: #66f;
$text-dark: #3c4250;
$border-color: #ececec;

$navbar-body-color: #fff;
$navbar-link-hover: $base-color;
$navbar-dropdown-separator-color: #eee;
$navbar-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
}

a {
  text-decoration: none;
}

.Container {
  width: 1170px;
  position: relative;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    left: 15px;
    right: 15px;
  }
}

// Start navbar

.Navbar,
.Navbar .Container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: block;
  }
}

.Navbar {
  padding: 1.15rem 1rem;
  box-shadow: $navbar-shadow;
  background-color: $navbar-body-color;

  .Container {
    @media (min-width: 576px) {
      max-width: 590px;
    }
    @media (min-width: 768px) {
      max-width: 900px;
    }
    @media (min-width: 992px) {
      max-width: 1000px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }

  .NavbarHeader {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    .NavbarToggler {
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
      border: none;
      display: none;
      outline: none;

      @media (max-width: 768px) {
        display: block;
      }

      span {
        height: 2px;
        width: 22px;
        background-color: lighten($text-dark, 35%);
        display: block;
      }
      span:not(:last-child) {
        margin-bottom: 0.2rem;
      }
    }

    > a {
      font-weight: 500;
      color: $text-dark;
    }
  }

  .NavbarMenu {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
      text-align: center;
    }

    .NavbarNav {
      margin-left: auto;
      flex-direction: row;
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      @media (max-width: 768px) {
        width: 100%;
        display: block;
        border-top: 1px solid #eee;
        margin-top: 1rem;
      }

      > li {
        > a {
          color: $text-dark;
          text-decoration: none;
          display: inline-block;
          padding: 0.5rem 1rem;
          position: relative;
          z-index: 2;
          &:hover {
            color: $navbar-link-hover;
          }
          @media (max-width: 768px) {
            border-bottom: 1px solid #eee;
          }
        }

        > span {
          position: relative;
          z-index: 2;

          color: $text-dark;
          text-decoration: none;
          display: inline-block;
          padding: 0.5rem 1rem;
          cursor: pointer;
          &:hover {
            color: $navbar-link-hover;
          }
          @media (max-width: 768px) {
            border-bottom: 1px solid #eee;
          }
        }

        &.Active {
          a {
            color: $base-color;
          }

          span {
            color: $base-color;
            cursor: pointer;
          }
        }
      }

      .Dropdown {
        list-style: none;
        position: absolute;
        top: 150%;
        left: 0;
        background-color: #fff;
        padding: 0.5rem 0;
        min-width: 160px;
        width: auto;
        white-space: nowrap;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        z-index: 2;
        border-radius: 0.75rem;
        display: none;
        @media (max-width: 768px) {
          position: relative;
          box-shadow: none;
        }
        li {
          color: $text-dark;
          padding: 0 1rem;
          margin: 0.8rem 0;

          display: block;
          cursor: pointer;

          &:first-child, &:last-child {
            margin: 0.6rem 0;
          }

          &:hover {
            background-color: #28a745;
          }
          
          a {
            color: $text-dark;
            padding: 0.25rem 1rem;
            display: block;
          }

          span {
            color: $text-dark;
            padding: 0.25rem 1rem;
            display: block;
          }
        }
        &.Show {
          display: block !important;
        }
      }
    }

    .Dropdown > .Separator {
      height: 1px;
      width: 100%;
      margin: 9px 0;
      background-color: $navbar-dropdown-separator-color;
    }
  }
}

.NavbarDropdown {
  position: relative;
}

// Custom
.Navbar .NavbarHeader > a span {
  color: $base-color;
}
.Navbar .NavbarHeader h4 {
  font-weight: 500;
  font-size: 1.25rem;
  @media (max-width: 768px) {
    font-size: 1.05rem;
  }
}
